/*reset*/
html { overflow-x: auto;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, select { padding: 0; margin: 0; list-style: none; }
/*body ::selection { color: #fff; background-color: #ff4b33; text-shadow: none; }
body ::-moz-selection { color: #fff; background-color: #ff4b33; text-shadow: none; }*/
/*global*/
th{font-weight: 500}
body { font: 12px/18px "Microsoft YaHei","Arial","sans-serif",HELVETICA; display: table; width: 100%; background: #e0e9f1;}
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
input, select, textarea { outline: none;border:1px solid #ddd; font-size: 14px;}
a, a:link, a:active, a:visited { text-decoration: none; outline: none;font-family:'Microsoft YaHei' }
img { border: 0; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; *zoom: 1; }
.iconfont { -webkit-text-stroke-width:0!important;}
input,button:focus{outline: none;}